.fetchmore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.fetchmore-button {
  border: none;
  padding: 40px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s;
}

.fetchmore-button:hover {
  transform: scale(1.05);
}

.fetchmore-button:active {
  transform: scale(0.95);
}