#pokemon-card {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

#pokemon-card:hover {
  transform: scale(1.05);
}

#pokemon-card img {
  width: 100%;
}
